body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: azure;
}

h1 {
    font-size: 40px;
    color: black;
}

.button-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 500px;  
    font-size: 22px;
    border: none;
    border-radius: 12px;
    background-color: gray;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.btn:hover {
    background-color: #7fa788;
    transform: scale(1.05);
}

.login-container {
    margin-bottom: 30px;
}

.login-btn {
  text-decoration: none;
}

.login-btn {
    background-color: #6fa87d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 22px 44px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #4e7d5a;
}