<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Room List</title>
    <link rel="stylesheet" th:href="@{/rooms.css}">
  </head>
   <body>
    <h1>Rooms</h1>

    <!-- Navigation nuttons -->
    <div class="nav-buttons">
      <a href="/" class="btn">Home</a>
      <a href="/reservations" class="btn">My Reservations</a>
      <!-- Only show Logout if logged in-->
      <a th:if="${loggedInUser != null}" href="/logout" class="btn" style="background-color:#a84f4f;">Logout</a>
      <!-- Only show Login if NOT logged in-->
      <a th:if="${loggedInUser == null}" href="/login" class="btn" style="background-color:#6fa87d;">Login</a>
    </div>

    <!-- Search bar -->
    <form th:action="@{/rooms}" method="get" class="search-form">
      <input type="text" name="keyword" th:value="${keyword}" placeholder="Search by room name..." class="search-input">
      <button type="submit" class="search-button">Search</button>
    </form>

    <!-- Room table -->
    <table border="1">
      <thead>
        <tr>
          <th>Room Name</th>
          <th>Amount of Seats</th>
          <th>Maximum Capacity</th>
          <th>Floor</th>
          <th>Elevator or Stairs Required?</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="room : ${rooms}">
          <td th:text="${room.roomName}"></td>
          <td th:text="${room.seats}"></td>
          <td th:text="${room.maxCapacity}"></td>
          <td th:text="${room.floor}"></td>
          <td th:text="${room.requiresElevatorOrStairs} ? 'Yes' : 'No'"></td>
          <td>
            <!-- Reserve button for logged in users -->
            <button 
              th:if="${loggedInUser != null}" 
              class="reserve-button available"
              th:onclick="'window.location.href=\'/reserve/' + ${room.id} + '\''">
              Reserve
            </button>

            <!-- Login button for people not logged in -->
            <button 
              th:if="${loggedInUser == null}" 
              class="reserve-button unavailable"
              th:onclick="'window.location.href=\'/login\''">
              Login to Reserve
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>